body{

       margin: 0;

       padding: 0;

       font-weight:200;

       font-family: Helvetica;

}

#overlay{
       position:absolute;
       top:15px;
       left:-5px;
       width:425px;
       z-index:-99;
}

#clockContainer{
       margin-left:0px;
       margin-top:50px;
       top:15px;
       left:-5px;
       width:425px;
}

#clock1{
       height:145px;
}

#clock1-min{
       top:-15px;
       width:6px;
       height:auto;
}

#clock1-hour{
       width:8px;
       height:auto;
}

#clock1-sec{
       width:9px;
       height:auto;
}

#Clock{

       position:absolute; top:29px; left:45px; width:320px; height:70px; opacity:1.0; text-align:right; z-index:11;

       font-size:36px;

}

#hour{color:white;}

#tiret{color:white;}

#minute{color:white;}

#ampm{position:absolute; top:92px; left:60px; width:320px; height:20px; opacity:0.7; text-align:left; z-index:50; color:black; font-size:12px; text-transform:uppercase;}





#weekday{

       position:absolute; top:29px; left:15px; width:110px; height:50px; text-align:center; z-index:100;

       font-size:18px;

       color:white;

       text-transform:uppercase;

}



#Calendar{

       position:absolute; top:135px; left:15px; width:100px; height:50px; text-align:center; z-index:11;

       font-size:14px;

       text-transform:uppercase;

}

#date{ position:absolute; top:-40px; left:-82px; width:320px; height:50px; text-align:center;text-transform:uppercase;z-index:11;color:red; opacity:0.7; font-size:15px}

#month{position:absolute; top:60px; left:15px; font-size:18px; color:white;}





#temp{

       position:absolute; top:75px; left:20px; width:320px; height:50px; text-align:right; opacity:0.7; font-style:italic; z-index:50;

       font-size:32px;

       color:white;

}

#desc{

       position:absolute; top:146px; left:20px; width:320px; opacity:0.7; height:50px; text-align:right; z-index:50;

       font-size:14px;
       
       color:white;

}

#cityname{

       position:absolute; top:29px; left:0px; width:320px; height:50px; text-align:center; z-index:50;
text-transform:uppercase;

       font-size:14px;

       color:white;

}



#weatherIcon{position:absolute; top:50px; left:200px; width:124px; z-index:50;}